.DS_Store
.dotnetcli
.metadata
.settings
.vs
_ReSharper*
_UpgradeReport_Files/
artifacts/
Backup*/
BenchmarkDotNet.Artifacts/
bin
Bin
BuildOutput
coverage
coverage*
node_modules
obj
packages
project.lock.json
TestResults
UpgradeLog*.htm
UpgradeLog*.XML
PublishProfiles
*.binlog
*.coverage
*.DotSettings
*.GhostDoc.xml
*.gpx
*.log
*.nupkg
*.opensdf
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
