.DS_Store
.dotnetcli
.metadata
.settings
.vs
_ReSharper*
_UpgradeReport_Files/
artifacts/
Backup*/
BenchmarkDotNet.Artifacts/
bin
Bin
BuildOutput
coverage
coverage*
MSBuild_Logs/
node_modules
obj
packages
project.lock.json
src/AppleFitnessWorkoutMapper/App_Data/*
src/AppleFitnessWorkoutMapper/wwwroot/static/js/*
tests/AppleFitnessWorkoutMapper.Tests/App_Data/tracks.db
TestResults
UpgradeLog*.htm
UpgradeLog*.XML
PublishProfiles
*.binlog
*.coverage
*.db
*.db-shm
*.db-wal
*.DotSettings
*.GhostDoc.xml
*.gpx
*.log
*.nupkg
*.opensdf
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
