<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleName</key>
		<string>AppleFitnessWorkoutMapper</string>
		<key>CFBundleDisplayName</key>
		<string>Apple Fitness Workout Mapper</string>
		<key>CFBundleIdentifier</key>
		<string>com.martincostello.applefitnessworkoutmapper</string>
		<key>CFBundleVersion</key>
		<string>1.0.0</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleExecutable</key>
		<string>AppleFitnessWorkoutMapper</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>LSMinimumSystemVersion</key>
		<string>10.13</string>
		<key>NSPrincipalClass</key>
		<string>NSApplication</string>
		<key>NSHighResolutionCapable</key>
		<true />
		<key>CFBundleDevelopmentRegion</key>
		<string>en-GB</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
	</dict>
</plist>
