@page
@model MartinCostello.AppleFitnessWorkerMapper.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Apple Fitness Worker Mapper</title>
</head>
<body>
    <p>
        Hello world!
    </p>
</body>
</html>
