name: build

on:
  push:
    branches: [ main ]
    tags: [ v* ]
    paths-ignore:
      - '**/*.gitattributes'
      - '**/*.gitignore'
      - '**/*.md'
  pull_request:
    branches:
      - main
      - dotnet-vnext
      - dotnet-nightly
  workflow_dispatch:
    inputs:
      notarize:
        type: boolean
        default: false
        description: 'Whether to notarize the macOS app.'
        required: false

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_NOLOGO: true
  DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: 1
  FORCE_COLOR: 1
  NUGET_XMLDOC_MODE: skip
  TERM: xterm

permissions:
  contents: read

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    permissions:
      attestations: write
      contents: write
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            os-name: macos
          - os: ubuntu-latest
            os-name: linux
          - os: windows-latest
            os-name: windows

    steps:

    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@3e891b0cb619bf60e2c25674b222b8940e2c1c25 # v4.1.0

    - name: Setup Node
      uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
      with:
        node-version: '20'

    - name: Get npm cache directory
      id: npm-cache-dir
      shell: pwsh
      run: echo "dir=$(npm config get cache)" >> ${env:GITHUB_OUTPUT}

    - name: Setup npm cache
      uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
      id: npm-cache
      with:
        path: ${{ steps.npm-cache-dir.outputs.dir }}
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: ${{ runner.os }}-node-

    - name: Setup NuGet cache
      uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj', '**/*.props') }}
        restore-keys: ${{ runner.os }}-nuget-

    - name: Setup Playwright cache
      uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
      with:
        key: ${{ runner.os }}-playwright-${{ hashFiles('Directory.Packages.props') }}
        path: |
          ~/AppData/Local/ms-playwright
          ~/.cache/ms-playwright
          ~/Library/Caches/ms-playwright

    - name: Build, test and publish
      id: build
      shell: pwsh
      run: ./build.ps1
      env:
        GoogleMapsApiKey: ${{ secrets.GOOGLE_MAPS_API_KEY }}

    - uses: codecov/codecov-action@015f24e6818733317a2da2edd6290ab26238649a # v5.0.7
      name: Upload coverage to Codecov
      with:
        files: ./artifacts/coverage/coverage.cobertura.xml,./src/AppleFitnessWorkoutMapper/coverage/lcov.info
        flags: ${{ matrix.os-name }}
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Generate SBOM
      uses: anchore/sbom-action@55dc4ee22412511ee8c3142cbea40418e6cec693 # v0.17.8
      with:
        artifact-name: build-${{ matrix.os-name }}.spdx.json
        output-file: ./artifacts/build.spdx.json
        path: ./artifacts/publish
        upload-release-assets: ${{ runner.os == 'Linux' }}

    - name: GPG sign ZIP artifacts
      if: |
        runner.os == 'Linux' &&
        github.event.repository.fork == false &&
        (github.ref_name == github.event.repository.default_branch ||
         startsWith(github.ref, 'refs/tags/v') ||
         inputs.notarize == true)
      env:
        GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      shell: bash
      run: |
        curl -s "https://api.github.com/users/${GITHUB_REPOSITORY_OWNER}/gpg_keys" | jq -r '.[].raw_key' | gpg --import
        gpg --list-keys --with-colons | awk -F: '/^fpr:/ { print $10 }' | while read -r key; do
          echo "${key}:6:" | gpg --import-ownertrust
        done
        echo "${GPG_PRIVATE_KEY}" | gpg --import --batch --yes --passphrase "${GPG_PASSPHRASE}"
        find ./artifacts/publish -type f -name '*.zip' | while read -r fname; do
          echo "Signing ${fname}"
          gpg --batch --yes --pinentry-mode loopback --passphrase "${GPG_PASSPHRASE}" --detach-sig "${fname}"
          gpg --verify "${fname}.sig" "${fname}"
        done

    - name: Attest artifacts
      uses: actions/attest-build-provenance@619dbb2e03e0189af0c55118e7d3c5e129e99726 # v2.0.0
      if: |
        runner.os == 'Linux' &&
        github.event.repository.fork == false &&
        (github.ref_name == github.event.repository.default_branch ||
         startsWith(github.ref, 'refs/tags/v') ||
         inputs.notarize == true)
      with:
        subject-path: |
          ./artifacts/publish/AppleFitnessWorkoutMapper/AppleFitnessWorkoutMapper.zip
          ./artifacts/publish/AppleFitnessWorkoutMapper/AppleFitnessWorkoutMapper-linux-*.zip
          ./artifacts/publish/AppleFitnessWorkoutMapper/AppleFitnessWorkoutMapper-win-*.zip

    - name: Publish ZIP artifacts
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      if: runner.os == 'Linux'
      with:
        if-no-files-found: error
        name: app-zips
        path: |
          ./artifacts/publish/AppleFitnessWorkoutMapper/AppleFitnessWorkoutMapper.zip
          ./artifacts/publish/AppleFitnessWorkoutMapper/AppleFitnessWorkoutMapper.zip.sig
          ./artifacts/publish/AppleFitnessWorkoutMapper/AppleFitnessWorkoutMapper-linux-*.zip
          ./artifacts/publish/AppleFitnessWorkoutMapper/AppleFitnessWorkoutMapper-linux-*.zip.sig
          ./artifacts/publish/AppleFitnessWorkoutMapper/AppleFitnessWorkoutMapper-win-*.zip
          ./artifacts/publish/AppleFitnessWorkoutMapper/AppleFitnessWorkoutMapper-win-*.zip.sig

    - name: Publish macOS arm64 artifacts
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      if: runner.os == 'Linux'
      with:
        name: app-macos-arm64
        path: ./artifacts/publish/AppleFitnessWorkoutMapper/release_osx-arm64
        if-no-files-found: error

    - name: Publish macOS x64 artifacts
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      if: runner.os == 'Linux'
      with:
        name: app-macos-x64
        path: ./artifacts/publish/AppleFitnessWorkoutMapper/release_osx-x64
        if-no-files-found: error

    - name: Publish screenshots
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      if: ${{ !cancelled() }}
      with:
        name: screenshots-${{ matrix.os-name }}
        path: ./artifacts/screenshots/*.png
        if-no-files-found: ignore

    - name: Publish traces
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      if: ${{ !cancelled() }}
      with:
        name: traces-${{ matrix.os-name }}
        path: ./artifacts/traces/*
        if-no-files-found: ignore

    - name: Publish videos
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      if: ${{ !cancelled() }}
      with:
        name: videos-${{ matrix.os-name }}
        path: ./artifacts/videos/*
        if-no-files-found: ignore

    - name: Upload any crash dumps
      shell: pwsh
      if: |
        !cancelled() &&
        steps.build.outcome == 'failure' &&
        github.event.repository.fork == false &&
        github.event.sender.login != 'dependabot[bot]'
      env:
        AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.CRASH_DUMPS_STORAGE_CONNECTION_STRING }}
        PSCOMPRESSION_VERSION: '2.0.6'
      run: |
        $dumps = Get-ChildItem -Path ${env:GITHUB_WORKSPACE} -Filter "*.dmp" -Recurse
        if ($null -ne $dumps) {

          $container = ${env:GITHUB_REPOSITORY}.Replace("/", "-")
          az storage container create --name $container --public-access off | Out-Null

          Install-Module PSCompression -RequiredVersion ${env:PSCOMPRESSION_VERSION} -AcceptLicense -Force -Scope CurrentUser

          $dumps | ForEach-Object {
            $zipPath = $_.FullName + ".zip"
            $zipName = $_.Name + ".zip"

            Write-Output "Compressing crash dump $($_.Name)..."
            Compress-ZipArchive -Path $_.FullName -Destination $zipPath

            az storage blob upload `
              --container-name $container `
              --file $zipPath `
              --name $zipName `
              --metadata "GITHUB_RUN_ATTEMPT=${env:GITHUB_RUN_ATTEMPT}" "GITHUB_WORKFLOW=${env:GITHUB_SERVER_URL}/${env:GITHUB_REPOSITORY}/actions/runs/${env:GITHUB_RUN_ID}" "RUNNER_OS=${env:RUNNER_OS}" `
              --overwrite true

            if ($LASTEXITCODE -eq 0) {
              Write-Output "::notice::Uploaded crash dump $($_.Name) to Azure Storage."
            }
          }
        }

  notarize:
    if: |
      github.event.repository.fork == false &&
      (startsWith(github.ref, 'refs/tags/v') ||
       inputs.notarize == true)
    needs: [ build ]
    runs-on: macos-latest

    env:
      MACOS_APP_NAME: AppleFitnessWorkoutMapper.app
      MACOS_APP_PATH: ./artifacts/AppleFitnessWorkoutMapper.app
      MACOS_ARTIFACTS_PATH: ./artifacts

    permissions:
      attestations: write
      contents: read
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        platform: [ arm64, x64 ]
      max-parallel: 1

    steps:

    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Download artifacts
      uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
      with:
        name: app-macos-${{ matrix.platform }}
        path: ${{ env.MACOS_ARTIFACTS_PATH }}/publish

    - name: Generate macOS app
      shell: pwsh
      run: |
        $Artifacts = ${env:MACOS_ARTIFACTS_PATH}
        $AppPath = ${env:MACOS_APP_PATH}
        $ContentsPath = (Join-Path ${AppPath} "Contents")
        $ResourcesPath = (Join-Path ${ContentsPath} "Resources")
        $PublishPath = (Join-Path ${Artifacts} "publish")
        $SourcePath = "./src/AppleFitnessWorkoutMapper"
        New-Item -Path ${Artifacts} -Name ${env:MACOS_APP_NAME} -ItemType "Directory" | Out-Null
        New-Item -Path ${AppPath} -Name "Contents" -ItemType "Directory" | Out-Null
        New-Item -Path ${ContentsPath} -Name "Resources" -ItemType "Directory" | Out-Null
        Copy-Item -Path ${PublishPath} -Destination (Join-Path ${ContentsPath} "MacOS") -Recurse | Out-Null
        Copy-Item -Path (Join-Path ${SourcePath} "Info.plist") -Destination ${ContentsPath} | Out-Null
        Copy-Item -Path (Join-Path ${SourcePath} "PrivacyInfo.xcprivacy") -Destination ${ResourcesPath} | Out-Null

    - name: Configure Xcode
      uses: martincostello/xcode-select@db3d404e6e20374a638c10a68e3d804977ec19cb # node20
      with:
        version: '15.3'

    - name: Import Distribution Certificate
      uses: martincostello/import-signing-certificate@a80a8cdd27ba2b00e0e80480fb66c4149de04061 # node20
      with:
        certificate-data: ${{ secrets.DISTRIBUTION_CERTIFICATE_DATA }}
        certificate-passphrase: ${{ secrets.DISTRIBUTION_CERTIFICATE_PASSPHRASE }}
        keychain-name: ''
        keychain-password: ${{ secrets.KEYCHAIN_PASSWORD }}

    - name: Sign app
      shell: bash
      env:
        APP_PATH: ${{ env.MACOS_APP_PATH }}
        ENTITLEMENTS: ./src/AppleFitnessWorkoutMapper/AppleFitnessWorkoutMapper.entitlements
        SIGNING_IDENTITY: ${{ secrets.SIGNING_IDENTITY }}
      run: |
        chmod +x "${APP_PATH}/Contents/MacOS/AppleFitnessWorkoutMapper"
        find "${APP_PATH}/Contents/MacOS/" | while read -r fname; do
          if [[ -f "${fname}" ]]; then
            echo "Signing ${fname}"
            codesign --force --timestamp --options=runtime --entitlements "${ENTITLEMENTS}" --sign "${SIGNING_IDENTITY}" "${fname}" || true
          fi
        done
        echo "Signing app file"
        codesign --force --timestamp --options=runtime --entitlements "${ENTITLEMENTS}" --sign "${SIGNING_IDENTITY}" "${APP_PATH}"

    - name: Notarize app
      uses: martincostello/xcode-notarize@b461d5783f3d2e7f94e71296e42804b1f81a9dc7 # notarytool
      with:
        product-path: ${{ env.MACOS_APP_PATH }}
        apple-id: ${{ secrets.NOTARIZATION_USERNAME }}
        app-password: ${{ secrets.NOTARIZATION_PASSWORD }}
        team-id: ${{ secrets.NOTARIZATION_TEAM_ID }}

    - name: Staple app
      uses: martincostello/xcode-staple@6961e581904dea5b988186057568c92667fb03a1 # node20
      with:
        product-path: ${{ env.MACOS_APP_PATH }}

    - name: Package signed app
      run: ditto -V -c -k --keepParent "${MACOS_APP_PATH}" ./artifacts/AppleFitnessWorkoutMapper-osx-${{ matrix.platform }}.zip

    - name: Publish signed app
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      with:
        name: app-macos-signed-${{ matrix.platform }}
        path: ./artifacts/AppleFitnessWorkoutMapper-osx-${{ matrix.platform }}.zip

    - name: GPG sign signed app
      env:
        APP_PLATFORM: ${{ matrix.platform }}
        GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      shell: bash
      run: |
        curl -s "https://api.github.com/users/${GITHUB_REPOSITORY_OWNER}/gpg_keys" | jq -r '.[].raw_key' | gpg --import
        gpg --list-keys --with-colons | awk -F: '/^fpr:/ { print $10 }' | while read -r key; do
          echo "${key}:6:" | gpg --import-ownertrust
        done
        echo "${GPG_PRIVATE_KEY}" | gpg --import --batch --yes --passphrase "${GPG_PASSPHRASE}"
        gpg --batch --yes --pinentry-mode loopback --passphrase "${GPG_PASSPHRASE}" --detach-sig "./artifacts/AppleFitnessWorkoutMapper-osx-${APP_PLATFORM}.zip"
        gpg --verify "./artifacts/AppleFitnessWorkoutMapper-osx-${APP_PLATFORM}.zip.sig" "./artifacts/AppleFitnessWorkoutMapper-osx-${APP_PLATFORM}.zip"

    - name: Attest artifacts
      uses: actions/attest-build-provenance@619dbb2e03e0189af0c55118e7d3c5e129e99726 # v2.0.0
      with:
        subject-path: ./artifacts/AppleFitnessWorkoutMapper-osx-${{ matrix.platform }}.zip

    - name: Publish notarized ZIP artifacts
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      with:
        name: app-zips-notarized-${{ matrix.platform }}
        path: |
          ./artifacts/AppleFitnessWorkoutMapper-osx-${{ matrix.platform }}.zip
          ./artifacts/AppleFitnessWorkoutMapper-osx-${{ matrix.platform }}.zip.sig

  release:
    if: github.event.repository.fork == false && startsWith(github.ref, 'refs/tags/v')
    needs: [ notarize ]
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:

    - name: Download Linux and Windows artifacts
      uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
      with:
        name: app-zips
        path: .

    - name: Download macOS arm64 artifacts
      uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
      with:
        name: app-zips-notarized-arm64
        path: .

    - name: Download macOS x64 artifacts
      uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
      with:
        name: app-zips-notarized-x64
        path: .

    - name: Create GitHub release
      uses: softprops/action-gh-release@01570a1f39cb168c169c802c3bceb9e93fb10974 # v2.1.0
      with:
        files: |
          *.zip
          *.zip.sig
